#div1
{
	background-image: url(img2.jpg);
position: absolute;
  width: 702px;
  height: 460px;
  z-index: 15;
  
  margin: 120px 0 0 270px;
border-style: solid;
}
#aid {
    
    margin-left :50px;
    margin-top:120px; 
    padding: 12px 20px;
    box-sizing: border-box;
    border-style:solid ;
    /* the important bit */
}
#pwd{
    
    margin-left :50px;
   
    padding: 12px 20px;
    box-sizing: border-box;
    border-style:solid ;
    /* the important bit */
}
 #b1  {
margin-left :50px;

      }

    #b2 {
 	margin-left :50px;
 	margin-top:120px;
 	color: white;
 }
 #b3  {
 	margin-left :50px;
 	margin-top:30px;
 	color: white;
 }
.dept{
margin-left :50px;
 	margin-top:30px;
}

